{% extends 'base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}
    <button type="submit" class="btn btn-success">Register</button>

    {{ form_end(registrationForm) }}
{% endblock %}
