
/* -----------------------header------------------ */
* {
    box-sizing: border-box;
}
header,
footer{
    padding-top: 0.5em;
    padding-bottom: 1rem;
    padding-left: 5%;

}

header{
    background:linear-gradient(#5eb5e0,#043773);
}

footer{
    background:linear-gradient(#043773,#5eb5e0);
}
/* ----------------------nav---------------------- */
nav a{

    margin-right: 5%;
    color: #f36f3a;
    text-shadow: black 1px 1px;
}
nav{
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: end;
}



/* ----------------------body------------------- */
body{
    background: linear-gradient(#84c1ec, #fff4e7, #84c1ec);
    background-position: 50% 100%;
    background-attachment: fixed;
    margin: 0;

}

main{
    display: grid;
    justify-content: center;
}


/* messages flash*/
.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 50%;
}
.flash-success{
    background-color: #7eeeaf;
}
.flash-warning{
    background-color: #f39190;
}

/* formulaire*/
form{
    display: block;
    max-width: 40%;
    /*box-sizing: border-box;*/
}

.form-listSerie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.form-listSerie1 {
    display: flex;
    flex-flow: column;
    max-width: 40%;
    padding: 0 5%;
}

.form-listSerie2 {
    display: flex;
    flex-flow: column wrap;
    max-width: 40%;
    padding: 0 5%;
}

.form-listSerie2 div{
    padding: 0;
}

.form-listSerie button{
    align-items: flex-end;
    padding: 15px;
}

input,
select,
button,
table{
    margin-bottom: 1em;
    max-width: 200px;
}

table,
th,
td{
    border: black 1px solid;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
table,
th{
    border: black 2px solid;
}

#sortieFermée{
    color: red;
    font-weight: bold;
}

.detailSortieMain{
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.detailSortieTitle{
    text-align: center;
    order: 1;
    width: 100%;
}

.detailSortieBloc1{
    display: grid;
    order: 2;
    width: 45%;
    padding-right: 2%;
    justify-content: flex-end;
}

.detailSortieBloc2{
    display: grid;
    order: 3;
    width: 45%;
    padding-left: 10%;
    justify-content: flex-start;
}

.detailSortieBloc1 div, .detailSortieBloc2 div{
    margin-bottom: 0.5rem;
}

.detailSortieTableau{
    justify-content: center;
    display: grid;
    order: 4;
    width: 50%;
}
/* ----------------------footer------------------- */
footer{
    width: 100%;
}

