
/* -----------------------header------------------ */
header,
footer{
    padding-top: 0.5em;
    padding-left: 5%;
    background:linear-gradient(lightsteelblue,#5eb5e0);
}


/* ----------------------nav---------------------- */
nav a{

    margin-right: 5%;
    color: #f36f3a;
    text-shadow: black 1px 1px;
}
nav{
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: end;
}



/* ----------------------body------------------- */
body{
    background: linear-gradient(#f5f5f5, #d3d1d1);
    background-attachment: fixed;

}

main{
    display: grid;
    justify-content: center;
}


/* messages flash*/
.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 50%;
}
.flash-success{
    background-color: #7eeeaf;
}
.flash-warning{
    background-color: #f39190;
}

/* formulaire*/
form{
    display: grid;
    max-width: 100px;
    box-sizing: border-box;
}
input,
select,
button,
table{
    margin-bottom: 1em;
}

table,
th,
td{
    border: black 1px solid;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
table,
th{
    border: black 2px solid;
}

#sortieFermée{
    color: red;
    font-weight: bold;
}

/* ----------------------footer------------------- */
footer{
    width: 100%;
}

