* {
    margin: 0;
    padding: 0;
}
/* -----------------------header------------------ */
* {
    box-sizing: border-box;
}
header,
footer{
    padding-top: 0.5em;
    padding-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;

}

header{
    background:linear-gradient(#5eb5e0,#043773);
    margin-bottom: 2em;
}
header h1{
    font-size: 5em;
}
#logo{
    max-height: 80px;
    margin-left: 0.3em;
    margin-right: 0.3em;
}
#titre{
    color: #f36f3a;
    font-family: 'Birthstone', cursive;
    font-weight: bold;
}

#logo_mobile{
    max-height: 40px;
    margin-left: 0.3em;
}
#titre_mobile{
    color: #f36f3a;
    font-family: 'Birthstone', cursive;
    font-weight: bold;
    font-size: xxx-large;
}

/* ----------------------nav---------------------- */
nav a{

    margin-right: 5%;
    color: #f36f3a;
    text-shadow: black 1px 1px;
}
nav{
    display: flex;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: end;
}

.nav_mobile a{

    padding-right: 5%;
    color: #f36f3a;
    text-shadow: black 1px 1px;
}
.nav_mobile{
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: center;
}



/* ----------------------body------------------- */
body{
    background: linear-gradient(#84c1ec, #fff4e7, #84c1ec);
    background-position: 50% 100%;
    background-attachment: fixed;
    padding-right: 5%;
    padding-left: 5%;
}

main{
    display: grid;
    justify-content: center;
    margin-bottom: 5em;
}

h1{
    text-decoration: underline;
}

/* messages flash*/
.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 50%;
}
.flash-success{
    background-color: #7eeeaf;
}
.flash-warning{
    background-color: #f39190;
}
.flash-info{
    background-color: #5eb5e0;
}

/* formulaire*/
form{
        display: block;
    max-width: 40%;
    /*box-sizing: border-box;*/
}

#formLogin,
#formSortie,
#formUpdate,
#formRegister,
#tableSortie,
#formSearch,
#cadreBody
{
    min-width: 100%;
    margin-top: 2em;
    border: #f36f3a 5px double;
    border-radius: 10px;
    box-shadow: #796ec2 10px 5px;
    padding: 10px;
    background : linear-gradient(#fcf1d5,#FAE6B1, #FAE6B1, #c7b78c);
}

.form-listSerie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.form-listSerie1 {
    display: flex;
    flex-flow: column;
    max-width: 30%;
    /*padding: 0 5%;*/

}

.form-listSerie2 {
    display: flex;
    flex-flow: column wrap;
    max-width: 50%;
    padding: 0 5%;
}

.form-listSerie2 div{
    padding: 0;
}

.form-listSerie button{
    align-items: flex-end;
    padding: 10px;
}

/*  boutons  */



input,
select,
button,
table{
    margin-bottom: 1em;
    max-width: 200px;
}

.tableListSortie {
    overflow-x: auto;
}
table,
th,
td{
    border: black 1px solid;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
table,
th{
    border: black 2px solid;
}

#sortieFermée{
    color: red;
    font-weight: bold;
}

.detailSortieMain{
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.detailSortieTitle{
    text-align: center;
    order: 1;
    width: 100%;
    padding: 20px 0;
}

.detailSortieBlocMobile{
    display: grid;
    order: 2;
    width: 85%;
    padding-right: 2%;
    justify-content: center;
}

.detailSortieBloc1{
    display: grid;
    order: 2;
    width: 45%;
    padding-right: 2%;
    justify-content: flex-end;
}

.detailSortieBloc2{
    display: grid;
    order: 3;
    width: 45%;
    padding-left: 10%;
    justify-content: flex-start;
}

.detailSortieBloc1 div, .detailSortieBloc2 div{
    margin-bottom: 0.5rem;
}

.detailSortieTableau{
    justify-content: center;
    align-self: center;
    display: grid;
    order: 4;
    width: 50%;
    margin-top: 20px;
}

/*  détails profil participants  */
#container{
    display: flex;
    width: 100vh;
    justify-content: space-around;
    margin-top: 2em;
}
#detailsParticipant{
    padding: 1em;
}
#infosParticipant{
    flex-direction: column;
    height: 50vh;
}
#tableInfos{
    margin-top: 2em;
    height: 100%;
    border: none;
}
table[id="tableInfos"] td{
    border: none;
}


.admin{
    color: green;
}
#interfaceAdmin{
    border: green 2px solid;
    border-radius: 3px;
   background-color: mediumseagreen;
    color: #f1f2f3;
    text-align: center;
}

/* état sortie*/
.etat2{
    background-color: rgba(143, 188, 143, 0.30);
}
.etat3{
    background-color: rgba(243, 145, 144, 0.30);
}

.etat4{
    background-color: rgba(94, 181, 224, 0.29);
}
.etat6 {
    background-color: rgba(197, 47, 150, 0.3);
}


/* ----------------------footer------------------- */
footer{
    width: 100%;
    background:linear-gradient(#043773,#5eb5e0);
    color: white;
}
#logofooter{
    max-height: 20px;

}

/*media queries*/
@media screen and (max-width: 800px){
    form{
        display: block;
        max-width: 100%;
        margin: 0;
        /*box-sizing: border-box;*/
    }

    .form-listSerie{
        display: block;
        justify-content: unset;
        align-items: unset;
        margin-bottom: 1rem;
    }

    .form-listSerie1 {
        display: block;
        float: left;
        flex-flow: unset;
        width: 45%;
        max-width: 45%;
        margin: 0;
        overflow:hidden;
        /*padding: 0 5%;*/

    }

    .form-listSerie2 {
        float: right;
        display: block;
        flex-flow: unset;
        width: 45%;
        max-width: 45%;
        /*padding: 0 5%;*/
        margin: 0;
        overflow:hidden;
    }

    .form-listSerie2 div{
        display: flex;
        padding: 0;
        justify-content: left;
        margin-bottom: 0.5rem;
    }
    .form-listSerie2 div input{
        margin: 0.5rem 0;
    }

    .form-listSerie2 div label{
        padding-left: 10px;
    }

    .form-listSerie button{
        align-items: unset;
        float: right;
        padding: 10px;
    }

    nav a{
        margin-right: 5%;
        color: #f36f3a;
        text-shadow: black 1px 1px;
    }
    nav{
        display: grid;
        margin-bottom: 2em;
        padding-bottom: 1em;
        text-align: center;
    }

    #container{
        display: grid;
        width: 100vh;
        align-self: center;
        margin-top: 2em;
    }
    #detailsParticipant{
        padding: 1rem;
    }
    #infosParticipant{
        flex-direction: column;
    }

    #tableInfos {
        margin-top: 1rem;
        height: unset;
        border: none;
    }

    table[id="tableInfos"] tr{

    }

    table[id="tableInfos"] td{
        border: none;
    }

    body {
        background-attachment: scroll;
    }
}