{% extends 'base.html.twig' %}

{% block body %}
    <h1>DashBoard: </h1>
    <br/>

    <div>
        <a href="{{ path('app_register') }}"><button class="btn btn-lg btn-primary">Créer un nouveau participant</button></a>
        <a href="{{ path('admin_listePatricipants') }}"><button class="btn btn-lg btn-info">Liste des participants</button></a>

    </div>
{% endblock %}

{% block title %}
    DashBoard Admin | {{ parent() }}
{% endblock %}

