{% extends 'base.html.twig' %}

{% block title %}
    Liste | {{ parent() }}
{% endblock %}

{% block body %}
    {% for participant in participants %}
        <a
            {% if participant.username != 'null'%}
                href="{{ path('participant_details', {'id': participant.id}) }}"
                class="
                {% if participant.administrateur == true%}
                    admin
                {% endif %}
            ">
                {{ participant.username }}
            {% endif %}
        </a>

    {% endfor %}
{% endblock %}

