{% extends 'base.html.twig' %}

{% block title %}Update | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Erreur 403!</h1>
    <p>Accès interdit!</p>
    <p>Veuillez contacter l'ENI</p>
{% endblock %}